<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="/fragments/layout/head :: configFragment"/>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <!--Header-->
    <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <img class="android-logo-image" src="/images/android-logo.png">
          </span>
            <!-- Add spacer, to align navigation to the right in desktop -->
            <div class="android-header-spacer mdl-layout-spacer"></div>
            <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="search-field">
                </div>
            </div>
            <!-- Navigation -->
            <div class="android-navigation-container">
                <nav class="android-navigation mdl-navigation">
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/login/facebook">로그인</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">소개</a>
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">
                        <span th:text="${session.user != null} ? ${session.user.userName}"/>
                    </a>

                </nav>
            </div>
            <span class="android-mobile-title mdl-layout-title">
                <img class="android-logo-image" src="/images/android-logo.png">
            </span>
            <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect"
                    id="more-button">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
                <li class="mdl-menu__item">-</li>
            </ul>
        </div>
    </div>

    <!--Navigation bar-->
    <div class="android-drawer mdl-layout__drawer">
            <span class="mdl-layout-title">
              <img class="android-logo-image" src="/images/android-logo-white.png">
            </span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/login/facebook">로그인</a>
            <div class="android-drawer-separator"></div>
            <span class="mdl-navigation__link" href="">커뮤니티</span>
            <a class="mdl-navigation__link" href="">소개</a>
            <a class="mdl-navigation__link" href="">
                <span th:text="${session.user != null} ? ${session.user.userName}"/>
            </a>
        </nav>
    </div>

    <div class="android-content mdl-layout__content">
        <!--Content-->
        <div layout:fragment="content">
            <p>This is content area</p>
        </div>

        <!--Footer-->
        <footer th:replace="/fragments/layout/footer :: footerFragment"/>
    </div>
</div>

<div th:replace="/fragments/layout/scripts :: scriptsFragment"/>

</body>
</html>